---
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import { Icon } from 'astro-icon/components'
import Layout from '@/layouts/Layout.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Skills from '@/components/Skills.astro';
import TitleSection from '@/components/TitleSection.astro';
import "../styles/global.css";
---

<Layout>
    <main class="px-4">
        <SectionContainer class="flex justify-center py-16 md:py-36">
          <Hero>
            <slot />
          </Hero>
        </SectionContainer>
        <div class="space-y-24">
            <SectionContainer id="experiencia">
              <TitleSection>
                <Icon name="briefcase" class="size-8" />
                Experiencia laboral
              </TitleSection>
              <Experience />
            </SectionContainer>

            <SectionContainer id="proyectos">
              <TitleSection>
                <Icon name="prompt" class="size-8" />
                Proyectos
              </TitleSection>
              <Projects />
            </SectionContainer>

            <SectionContainer id="cursos">
              <TitleSection>
                <Icon name="tools" class="size-8" />
                Formación
              </TitleSection>
              <Skills />
            </SectionContainer>
          </div>
    </main>
</Layout>
