<footer class="flex-column justify-center items-center">
    <p>&copy; 2025 Alfonso Vidal. Todos los derechos reservados.</p>
    <div class="social-links">
        <a href="https://github.com/Fansu7" target="_blank" rel="noopener noreferrer">
            <img src="./svg/github.svg" alt="GitHub Logo" class="w-6 h-6" />
        </a>
    </div>
</footer>