<header class="fixed top-0 z-10 flex items-center justify-center mx-auto py-4 backdrop-blur-sm border-b border-gray-200 dark:border-gray-700 bg-[#212830] w-full">
    <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
        <div class="flex space-x-4 font-bold ">
            <a href="#top">Inicio</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#cursos">Cursos</a>
        </div>
    </nav>
</header>
  