<header class="flex justify-center pt-4 bg-[#151B23] border-b-2 border-[#2F353F]">
    <nav class="flex justify-around items-center w-4/5">
        <img src="path-to-your-avatar.jpg" alt="Avatar" class="w-10 h-10 rounded-full">
        
        <ul class="flex space-x-4">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
</header>
  